<div class='jumbotron'>
<!--     <h1>items from rest call success</h1>
    <div>{{test}}</div>
        
    </div>

    <h1>Item list</h1>
    <table class="table">
        <tr>
            <th>Type</th>
            <th>Leg</th>
            <th>Waist</th>
            <th>Color</th>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{item.item1.type}}</td>
            <td>{{item.leg}}</td>
            <td>{{item.waist}}</td>
            <td>{{item.color}}</td>
        </tr>
    </table> -->
</div>
