<p>Select size and color</p>
<div class="input-group">
  <span class="input-group-addon">Waist/inches</span>
  <input type="number" class="form-control" ng-model="item.waist">
</div>
</br>
<div class="input-group">
  <span class="input-group-addon">Leg/inches</span>
  <input type="number" class="form-control" ng-model="item.leg">
</div>
</br>
<div class="input-group">
  <span class="input-group-addon">Color</span>
  <input type="text" class="form-control" ng-model="item.color">
</div>
</br>
<a href="#/view3">
<button class="btn btn-default btn-sm" ng-click="selectTrousers()">Next</button>
</a>
<p>
  Showing of 'interpolate' filter:
  <!-- {{ 'Current version is v%VERSION%.' | interpolate }} -->
</p>
