<div class='jumbotron'>
    <h1>Choose an item</h1>
    <pre>{{item.type || 'null'}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="item.type" btn-radio="'jeans'">Jeans</label>
        <label class="btn btn-primary" ng-model="item.type" btn-radio="'t-shirt'">T-Shirt</label>
        <label class="btn btn-primary" ng-model="item.type" btn-radio="'jacket'">Jacket</label>
        <label class="btn btn-primary" ng-model="item.type" btn-radio="'shoes'">Shoes</label>
        <label class="btn btn-primary" ng-model="item.type" btn-radio="'runners'">Runners</label>
    </div>
    <div id='select_item_go_button'>
        <a href="#/selectSize">
            <label class="btn btn-default" ng-click="testAPI()">Next</label>
        </a>
    </div>
</div>