<div class='jumbotron'>
    <h1>Select size and color</h1>
    <div class="input-group">
        <span class="input-group-addon">Waist/inches</span>
        <input type="number" class="form-control" ng-model="item.waist">
    </div>
    </br>
    <div class="input-group">
        <span class="input-group-addon">Leg/inches</span>
        <input type="number" class="form-control" ng-model="item.leg">
    </div>
    </br>
    <div class="input-group">
        <span class="input-group-addon">Color</span>
        <input type="text" class="form-control" ng-model="item.color">
    </div>
    </br>
    <a href="#/inventory/{{item.type}}">
        <button class="btn btn-default btn-sm">Next</button>
    </a>
</div>
